
{{define "navigator"}}
<header id="header" id="home">
    <div class="container header-top">
        <div class="row">
            <div class="col-6 top-head-left">
                <ul>
                    <li><a href="#">Visit Us</a></li>
                    <li><a href="#">Buy Ticket</a></li>
                </ul>
            </div>
            <div class="col-6 top-head-right">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="../assets/img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-has-children"><a href="/">Home</a>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="event.html">Event</a></li>
                            <li><a href="event.html">Projects</a></li>
                            <li><a href="booking.html">Membership</a></li>
                        </ul>
                    </li>

                    <li class=""><a href="/visit">Visit</a>
                    </li>

                    <li class=""><a href="/history">History</a>
                    </li>


                    <li class="menu-has-children"><a href="">People</a>
                        <ul>
                            <li><a href="#">Artist</a></li>
                            <li><a href="community-home.html">Politician</a></li>
                            <li><a href="#">Slave</a></li>
                        </ul>
                    </li>

                    <li><a href="/place">Place</a></li>

                    <li class=""><a href="/collection">Collections</a></li>

                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
{{end}}