	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="assets/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Simon's Town Museum</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="../assets/css/linearicons.css">
			<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
			<link rel="stylesheet" href="../assets/css/bootstrap.css">
			<link rel="stylesheet" href="../assets/css/magnific-popup.css">
			<link rel="stylesheet" href="../assets/css/nice-select.css">
			<link rel="stylesheet" href="../assets/css/animate.min.css">
			<link rel="stylesheet" href="../assets/css/owl.carousel.css">
			<link rel="stylesheet" href="../assets/css/main.css">
		</head>
		<body>

			 {{template "navigator" .}}


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-8">
							<h6 class="text-white">Openning on 21st February, 2018</h6>
							<h1 class="text-white">
								Visit Us And Learn
							</h1>
							<a href="booking.html" style="background-color: #2a00ff; color: #FFFFFF;" class="btn text-uppercase">Book Now</a>
						</div>											
					</div>
				</div>					
			</section>

			  <section class="gallery-area section-gap" style="height: 20px">
				  <div class="banner_inner d-flex align-items-center ">
					  <div class="container">
						  <div class="banner_content d-md-flex justify-content-between align-items-center">
							  <div class="mb-3 mb-md-0" style="margin-top: 2%">
								  <h2>MUSEUM </h2>
								  <p>Very us move be blessed multiply night</p>
							  </div>

							  <p class="text-white link-nav" >
								  <a class="text-white" href="about.html">About Us /</a>

								  <a class="text-white" href="about.html">Contact Us /</a>

								  <a class="text-white" href="event.html">Event /</a>

								  <a class="text-white" href="event.html">Project /</a>

								  <a class="text-white" href="booking.html">Tour /</a>

								  <a class="text-white" href="booking.html">Membership </a>
							  </p>
						  </div>
					  </div>
				  </div>
			  </section>
			<!-- End banner Area -->	

			<!-- Start service Area -->
			<section class="service-area pt-100" id="about">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-clock"></span>
							  <h4>Openning Hours</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-rocket"></span>
							  <h4>Ongoing Exhibitions</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>
						<div class="col-lg-4">
							<div class="single-service">
							  <span class="lnr lnr-briefcase"></span>
							  <h4>Openning Events</h4>
							  <p>
							  	Mon - Fri: 10.00am to 05.00pm
								Sat: 12.00pm to 03.00 pm
								Sunday Closed
							  </p>						 	
							  <div class="overlay">
							    <div class="text">
							    	<p>
							    		Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features that we use in life Here, I focus on a range of items and features.that we use in life
							    	</p>
							    	<a href="#" class="text-uppercase primary-btn">Buy ticket</a>
							    </div>
							  </div>
							</div>							
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->
			
			<!-- Start quote Area -->
			<section class="quote-area section-gap">
				<div class="container">				
					<div class="row">
						<div class="col-lg-6 quote-left">
							<h1>
								<span>Music</span> gives soul to the universe, <br>
								wings to the <span>mind</span>, flight <br>
								to the <span>imagination</span>.
							</h1>
						</div>
						<div class="col-lg-6 quote-right">
							<p >
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End quote Area -->

			<!-- Start exibition Area -->
			<section class="exibition-area section-gap" id="exhibitions">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-exibition-carusel">
							<div class="single-exibition item">
								<img src="../assets/img/e1.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img src="../assets/img/e2.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img src="../assets/img/e3.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>							
							<div class="single-exibition item">
								<img src="../assets/img/e1.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img src="../assets/img/e2.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img src="../assets/img/e3.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>							
							<div class="single-exibition item">
								<img src="../assets/img/e1.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img class="img-fluid" src="../assets/img/e2.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>

							<div class="single-exibition item">
								<img class="img-fluid" src="../assets/img/e3.jpg" alt="">
								<ul class="tags">
									<li><a href="#">Travel</a></li>
									<li><a href="#">Life style</a></li>
								</ul>
								<a href="#"><h4>Portable latest blog for women</h4></a>
								<p>
									Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod tempor.
								</p>
								<h6 class="date">31st January, 2018</h6>
							</div>
						</div>													
					</div>
				</div>	
			</section>
			<!-- End exibition Area -->			
		
			<!-- Start upcoming-event Area -->
			<section class="upcoming-event-area section-gap" id="events">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Checkout our Upcoming Events</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-6 event-left">
							<div class="single-events">
								<img class="img-fluid" src="../assets/img/u1.jpg" alt="">
								<a href="#"><h4>Event on the rock solid carbon</h4></a>
								<h6><span>21st February</span> at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
							</div>
							<div class="single-events">
								<img class="img-fluid" src="../assets/img/u3.jpg" alt="">
								<a href="#"><h4>Event on the rock solid carbon</h4></a>
								<h6><span>21st February</span> at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
							</div>							
						</div>
						<div class="col-lg-6 event-right">
							<div class="single-events">
								<a href="#"><h4>Event on the rock solid carbon</h4></a>
								<h6><span>21st February</span> at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
								<img class="img-fluid" src="../assets/img/u2.jpg" alt="">
							</div>
							<div class="single-events">
								
								<a href="#"><h4>Event on the rock solid carbon</h4></a>
								<h6><span>21st February</span> at Central government museum</h6>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially.
								</p>
								<a href="#" class="primary-btn text-uppercase">View Details</a>
								<img class="img-fluid" src="../assets/img/u4.jpg" alt="">
							</div>							
						</div>
					</div>
				</div>	
			</section>
			<!-- End upcoming-event Area -->
			
			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Latest From Our Blog</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="../assets/img/b1.jpg" alt="">
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="#"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="../assets/img/b2.jpg" alt="">
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="#"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="../assets/img/b3.jpg" alt="">
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="#"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="../assets/img/b4.jpg" alt="">
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="#"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>							
					</div>
				</div>	
			</section>
			<!-- End blog Area -->

			<!-- Start gallery Area -->
			<section class="gallery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10 text-white">Our Exhibition Gallery</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
							</div>
						</div>
					</div>						
					<div id="grid-container" class="row">
						<a class="single-gallery" href="../assets/img/g1.jpg"><img class="grid-item" src="../assets/img/g1.jpg"></a>
						<a class="single-gallery" href="../assets/img/g2.jpg"><img class="grid-item" src="../assets/img/g2.jpg"></a>
						<a class="single-gallery" href="../assets/img/g3.jpg"><img class="grid-item" src="../assets/img/g3.jpg"></a>
						<a class="single-gallery" href="../assets/img/g4.jpg"><img class="grid-item" src="../assets/img/g4.jpg"></a>
						<a class="single-gallery" href="../assets/img/g5.jpg"><img class="grid-item" src="../assets/img/g5.jpg"></a>
						<a class="single-gallery" href="../assets/img/g6.jpg"><img class="grid-item" src="../assets/img/g6.jpg"></a>
						<a class="single-gallery" href="../assets/img/g7.jpg"><img class="grid-item" src="../assets/img/g7.jpg"></a>
						<a class="single-gallery" href="../assets/img/g8.jpg"><img class="grid-item" src="../assets/img/g8.jpg"></a>
						<a class="single-gallery" href="../assets/img/g9.jpg"><img class="grid-item" src="../assets/img/g9.jpg"></a>
						<a class="single-gallery" href="../assets/img/g10.jpg"><img class="grid-item" src="../assets/img/g10.jpg"></a>
						<a class="single-gallery" href="../assets/img/g11.jpg"><img class="grid-item" src="../assets/img/g11.jpg"></a>
						<a class="single-gallery" href="../assets/img/g12.jpg"><img class="grid-item" src="../assets/img/g12.jpg"></a>
						<a class="single-gallery" href="../assets/img/g4.jpg"><img class="grid-item" src="../assets/img/g4.jpg"></a>
						<a class="single-gallery" href="../assets/img/g5.jpg"><img class="grid-item" src="../assets/img/g5.jpg"></a>
					</div>	
				</div>	
			</section>
			<!-- End gallery Area -->
			

			<!-- start footer Area -->
			{{template "footer" .}}
			<!-- End footer Area -->		

			<script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../assets/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../assets/js/easing.min.js"></script>
			<script src="../assets/js/hoverIntent.js"></script>
			<script src="../assets/js/superfish.min.js"></script>
			<script src="../assets/js/jquery.ajaxchimp.min.js"></script>
			<script src="../assets/js/jquery.magnific-popup.min.js"></script>
			<script src="../assets/js/owl.carousel.min.js"></script>
			<script src="../assets/js/imagesloaded.pkgd.min.js"></script>
			<script src="../assets/js/justified.min.js"></script>
			<script src="../assets/js/jquery.sticky.js"></script>
			<script src="../assets/js/jquery.nice-select.min.js"></script>
			<script src="../assets/js/parallax.min.js"></script>
			<script src="../assets/js/mail-script.js"></script>
			<script src="../assets/js/main.js"></script>
		</body>
	</html>



